attr
beautifulsoup4
black
cryptography
cycler
dotenv
Flask
FleetingViews
flet
flet_cli
flet_desktop
flet_lottie
flet_map
langchain_ollama
langgraph
lorem
matplotlib
mistralai
mysql_connector_repackaged
nltk
ortools
pandas
Pillow
prettytable
pyautogui
pydantic
pygame-ce
pymox_kit
pyparsing
pyperclip
PyQt5
pulp
reflex
Requests
rich
scapy
scipy
selenium
tabulate
yt_dlp
watchdog
weasyprint
