body {
  font-family: Arial, sans-serif;
}

td {
  text-align: center;
}

.plushaut {
  font-weight: bold;
  background-color: #f2f2f2;
  padding-bottom: 15px;
}

.article {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  width: 60%;
  margin: 0 auto;
}

.cent {
  font-weight: bold;
  width: 250px;
}
