{% extends 'listings/base.html' %} 

{% block content %}

<h1 class="center">Groupes</h1>
<hr>
<p>Mes groupes préférés :</p>

{% with nb=bands|length %} 
  {% if nb < 1 %} Pas de groupe 
  {% elif nb < 3 %} Il y a peu de groupes 
  {% else %} Il y a pas mal de groupes
  {% endif %}
{% endwith %}

<h2>{{bands|length}} groupes :</h2>
<ul>
  {% for band in bands %}
  <li><a href="{% url 'band-show' band.id %}">{{ band.id }} - {{ band.name|upper }}</a>
    <div class="small"> {{  band.year_formed }} </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
