{% extends 'listings/base.html' %} 

{% block content %}

<h1>BANDS</h1>
<p>Mes groupes préférés :</p>

{% with nb=bands|length %} 
  {% if nb < 1 %} Pas de groupe 
  {% elif nb < 3 %} Il y a peu de groupes 
  {% else %} Il y a pas mal de groupes
  {% endif %}
{% endwith %}

<hr />

<h2>{{bands|length}} groupes :</h2>
<ul>
  {% for band in bands %}
  <li>{{ band.name|upper }}
    <div class="small"> {{  band.year_formed }} </div>
  </li>
  {% endfor %}
</ul>

<hr />

&copy; {% now "Y" %} 

{% endblock %}
